<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itzhang.management.mapper.UserMapper">
    <!--用户注册-->
    <insert id="register" parameterType="com.itzhang.management.entity.dto.StuUserDTO" useGeneratedKeys="true" keyProperty="id">
        insert into stu_user(user_id, stu_email, user_name, user_password)
        values (#{userId}, #{stuEmail}, #{userName}, #{userPassword})
    </insert>
    <!--用户信息更新-->
    <update id="updateUserInfo">
        update stu_user
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone},
            </if>
            <if test="userSex != null">
                user_sex = #{userSex},
            </if>
            <if test="userBirthday != null">
                user_birthday = #{userBirthday},
            </if>
            <if test="wechatId != null">
                wechat_id = #{wechatId},
            </if>
            <if test="isVip != null">
                is_vip = #{isVip},
            </if>
        </set>
        where user_id = #{userId}
    </update>
    <!--通过邮箱查询用户，保证幂等性-->
    <select id="getUserByEmail" resultType="java.lang.Integer">
        select count(*) from stu_user
        <where>
            <if test="stuEmail != null">
                stu_email = #{stuEmail}
            </if>
        </where>
    </select>
    <!--用户登录-->
    <select id="login" resultType="com.itzhang.management.entity.dto.StuUserDTO">
        select * from stu_user
        <where>
            <if test="stuEmail != null">
                stu_email = #{stuEmail}
            </if>
        </where>
    </select>
    <!--通过用户id查询用户-->
    <select id="getUserByUserId" resultType="com.itzhang.management.entity.dto.StuUserDTO">
        select * from stu_user
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
    </select>
    <select id="getUserByIdORName" resultType="com.itzhang.management.entity.pojo.StuUser">
        select *
        from stu_user
        where user_id = #{userId}
          and stu_email = #{userName}
    </select>

</mapper>