<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itzhang.management.mapper.UserMapper">
    <insert id="register" parameterType="com.itzhang.management.entity.dto.StuUserDTO" useGeneratedKeys="true" keyProperty="id">
        insert into stu_user(user_id, stu_email, user_name, user_password)
        values (#{userId}, #{stuEmail}, #{userName}, #{userPassword})
    </insert>
</mapper>